In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame(0, index=['X', 'Y', 'Z'], columns = ['C1', 'C2'])

In [3]:
df1

   C1  C2
X   0   0
Y   0   0
Z   0   0

In [4]:
df1.reset_index()

  index  C1  C2
0     X   0   0
1     Y   0   0
2     Z   0   0

In [6]:
import numpy as np
from numpy.random import randn 
np.random.seed(100212251)

In [7]:
df = pd.DataFrame(randn(3, 3), index=['X', 'Y', 'Z'], columns = ['C1', 'C2', 'C3'])

In [12]:
df

         C1        C2        C3
X  1.056924  1.254387 -1.821241
Y -1.033658 -1.620970  1.574977
Z -0.712264 -0.491356  2.051359

In [17]:
# df['C1']
df[['C1', 'C3']]

         C1        C3
X  1.056924 -1.821241
Y -1.033658  1.574977
Z -0.712264  2.051359

In [18]:
df['C_4'] = df['C1'] + df['C2']

In [19]:
df

         C1        C2        C3       C_4
X  1.056924  1.254387 -1.821241  2.311311
Y -1.033658 -1.620970  1.574977 -2.654628
Z -0.712264 -0.491356  2.051359 -1.203619

In [20]:
df.loc['Y']

C1    -1.033658
C2    -1.620970
C3     1.574977
C_4   -2.654628
Name: Y, dtype: float64

In [22]:
df.iloc[2]

C1    -0.712264
C2    -0.491356
C3     2.051359
C_4   -1.203619
Name: Z, dtype: float64

In [23]:
df.loc[['X', 'Z']]

         C1        C2        C3       C_4
X  1.056924  1.254387 -1.821241  2.311311
Z -0.712264 -0.491356  2.051359 -1.203619

In [24]:
df.loc[['X', 'Z'], ['C2', 'C3']]

         C2        C3
X  1.254387 -1.821241
Z -0.491356  2.051359

In [26]:
df.loc['X', 'C3']
value = float(df.loc['X', 'C3'])
print(value)

-1.8212406424291276

In [27]:
# axis=1 : column
# axis=0: row
df.drop('C_4', axis=1)

         C1        C2        C3
X  1.056924  1.254387 -1.821241
Y -1.033658 -1.620970  1.574977
Z -0.712264 -0.491356  2.051359

In [28]:
df.drop('C_4', axis=1, inplace=True)

In [29]:
df

         C1        C2        C3
X  1.056924  1.254387 -1.821241
Y -1.033658 -1.620970  1.574977
Z -0.712264 -0.491356  2.051359

In [30]:
df.drop('Y', axis=0, inplace=True)

In [31]:
df

         C1        C2        C3
X  1.056924  1.254387 -1.821241
Z -0.712264 -0.491356  2.051359

In [33]:
df.drop(['C2', 'C3'], axis=1, inplace=True)

In [34]:
df

         C1
X  1.056924
Z -0.712264