In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn 

np.random.seed(1234567)

In [19]:
df = pd.DataFrame(
    randn(5, 3),
    index= ['A', 'B', 'C', 'D', 'E'],
    columns = ['C1', 'C2', 'C3']
)

In [21]:
# df.head(n=2)
df

         C1        C2        C3
A  0.550832 -0.759563  1.223760
B -0.159821 -1.455847  1.208524
C -1.721527 -0.005897  0.870294
D -1.265546 -1.404829 -0.299535
E  0.962685  0.122264  1.402289

In [25]:
df <= 0

      C1     C2     C3
A  False   True  False
B   True   True  False
C   True   True  False
D   True   True   True
E  False  False  False

In [23]:
# Filtering the DataFrame
filtered_df = df[df >= 0]

# Option 1: Drop rows with NaN values
# df_no_nan = filtered_df.dropna()

# # Option 2: Fill NaN values with 0
# df_filled = filtered_df.fillna(0)

# print("Filtered DataFrame (only elements >= 0):")
# print(filtered_df)
# print("\nDataFrame with NaN values dropped:")
# print(df_no_nan)
# print("\nDataFrame with NaN values filled with 0:")
# print(df_filled)

In [31]:
# filtring by cell C3
# df_negative = df[df['C3'] <= 0]
df_2 = df[(df['C2'] <= 0) | (df['C1'] >= 0.5)]['C2']
df_2

A   -0.759563
B   -1.455847
C   -0.005897
D   -1.404829
E    0.122264
Name: C2, dtype: float64